.modal-close {
    position: fixed;
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 100%;
    z-index: 900;
    left: 0;
    top: 0;
}

.modal {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    width: auto;
    height: auto;
    z-index: 1000;
    left: 255px;
    top: 210px;
    padding: 10px;
}

.modal-buttons {
    margin-top: 15px;
}